# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old
*.java.orig
.DS_Store

# building
/target

# Eclipse
.classpath
.project
.settings

# IDEA
*.iml
*.ipr
*.iws
/.idea/

# Ignore Gradle project-specific cache directory
gradle/.gradle

# Ignore Gradle build output directory
gradle/build
